<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapping.filemapping">
    <!-- MediaStore.Images.Media.EXTERNAL_CONTENT_URI -->
    <!-- ※コード上でも「ActivityCompat.requestPermissions()」の処理が必要 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- Admodのために追加 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- requestLegacyExternalStorage="true"：API29で、外部ストレージアクセス（Picasso）で必要 -->
    <application
        android:name=".MapCommonData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_m"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_m_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Toolbar.NoActionBar">
        <activity
            android:name=".MapEditActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SinglePictureDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".PictureGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".TrimmingActivity"
            android:exported="false" />
        <activity
            android:name=".MapCreateActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".MapListActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>